﻿@model List<Entities.BookingStatus>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BookingDashboard</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            text-align: center;
        }
    </style>
</head>
<body>
    <div> 
        <table style="width:100%">
            <tr>
                <th>RequestId</th>
                <th>CustomerID</th>
                <th>Time Elapsed</th>
                <th>Status</th>
                <th>Driver</th>
            </tr>
            @foreach (var booking in Model)
            {
            <tr>
                <td>@booking.RequestId</td>
                <td>@booking.UserId</td>
                <td>@(DateTime.Now.Subtract(booking.BookingTime).Minutes) minutes</td>
                <td>@(Enum.GetName(typeof(Entities.BookingStatusEnum),booking.Status))</td>
                <td>@booking.DriverId</td>
            </tr>
            }
        </table> 
    </div>
</body>
</html>
