﻿@model List<Entities.BookingStatus>

@{
    Layout = null;
    var booking = 0;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DriverRidesPage</title>
    
</head>
<body>
    <h2>
        Driver App - driverId : @ViewBag.driverId
    <button onclick="location.reload(); ">Refresh</button>
</h2>
    <div> 
        <section>
            <h3>Waiting</h3>
            <div>
                <ul id="waiting">
                @for (; booking <  Model.Count; booking++)
                {
                    if (Model[booking].Status != (int)Entities.BookingStatusEnum.Waiting)
                    {
                        break;
                    }
                        <li id="@Model[booking].RequestId">
                        <p>ReqId: <span>"@Model[booking].RequestId"</span></p>
                        <p>custId: <span>@Model[booking].UserId</span></p>
                        <p>Request Time: @(DateTime.Now.Subtract(Model[booking].BookingTime).TotalMinutes) mins ago</p>
                        <button class="button" onclick="confirmBooking(@Model[booking].RequestId)">Select</button>
                            <span class="Error"></span>
                        </li>
                    
                }
                    </ul>
            </div>
        </section>

        <section>
            <h3>OnGoing</h3>
            <div>
                <ul id="OnGoing">
                    @for (; booking < Model.Count; booking++)
                    {
                        if (Model[booking].Status != (int)Entities.BookingStatusEnum.OnGoing)
                        {
                            break;
                        }
                        <li id="@Model[booking].RequestId">
                            <p>ReqId: <span>@Model[booking].RequestId</span></p>
                            <p>custId: <span>@Model[booking].UserId</span></p>
                            <p>Request Time: @(DateTime.Now.Subtract(Model[booking].BookingTime).Minutes) minutes ago</p>
                            <p>PickedUp Time: @(DateTime.Now.Subtract(Model[booking].PickedUpTime).Minutes) minutes ago</p>
                            <button class="button" onclick="completeRide(@Model[booking].RequestId)">Complete Ride</button>
                        </li>

                    }
                </ul>
            </div>
        </section>

        <section>
            <h3>Completed</h3>
            <div>
                <ul id="Completed">
                    @for (; booking < Model.Count; booking++)
                    {
                        if (Model[booking].Status != (int)Entities.BookingStatusEnum.Completed)
                        {
                            break;
                        }
                        <li id="@Model[booking].RequestId">
                            <p>ReqId: <span>@Model[booking].RequestId</span></p>
                            <p>custId: <span>@Model[booking].UserId</span></p>
                            <p>Request Time: @(DateTime.Now.Subtract(Model[booking].BookingTime).Minutes) minutes ago</p>
                            <p>PickedUp Time: @(DateTime.Now.Subtract(Model[booking].PickedUpTime).Minutes) minutes ago</p>
                            <p>Complete: @(DateTime.Now.Subtract(Model[booking].CompleteTime).Minutes) minutes ago</p>
                        </li>

                    }
                </ul>
            </div>
        </section>
    </div>
    <script>
        var driverId = @ViewBag.driverId;
    </script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Static/Js/DriverApp.js"></script>
    
</body>
</html>
